@*@{
	ViewBag.Title = "Testing";
}

<div style="padding: 10px;" ng-controller="TestingController as vm" ng-cloak>
	<h1>We testin n shit</h1>

	<button class="btn btn-primary" ng-click="vm.playAudio()">
		<span><i class="fa fa-play"></i> Play Audio</span>
	</button>
	<audio src="/api/audio/live-stream" type="audio/wav" controls autoplay></audio>
</div>*@