<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		     name="NexusDbConnection" connectionString="Data Source=172.20.47.12;Initial Catalog=nexus;User ID=sdcmaint;Password=:A111111;Connect Timeout=120;Encrypt=False;MultipleActiveResultSets=true;App=EntityFramework;" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		     name="ScidynDbConnection" connectionString="Data Source=172.20.47.12;Initial Catalog=scidyn;User ID=sdcmaint;Password=:A111111;Connect Timeout=120;Encrypt=False;MultipleActiveResultSets=true;App=EntityFramework;" />
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="SetAttributes" debug="false" />
		<sessionState xdt:Transform="SetAttributes" timeout="120" />
	</system.web>
	<system.webServer>
		<httpErrors xdt:Transform="InsertIfMissing" errorMode="Custom" defaultResponseMode="File">
			<remove statusCode="503" />
			<error statusCode="503" path="app_offline.htm" responseMode="File" />
		</httpErrors>
	</system.webServer>
</configuration>